<%= render "shared/header" %>
<div class="container text-center">
<br><br><br>
  <h1> Seu pedido de legenda foi criado com sucesso! </h1>
  <h2> Assim que a legenda estiver disponível entraremos em contato </h2>
  <%= link_to "Voltar para a home", :root, class: "btn" %>
  <br><br><br>
</div>