.box-title {
  .main-title, .sub-title {
    font-weight: 400;
    margin: 0;
  }
  .main-title {
    font-size: 2.4em;
    line-height: 1.2;
    margin: 0 0 24px 0;
    strong {
      color: $color-2;
    }
  }
  .sub-title {
    color: lighten($black, 50%);
    position: relative;
    top: -8px;
  }
}

.box-tips {
  background: $color-4 asset-url("lamp.png") no-repeat 16px center;
  color: $white;
  padding: 48px 0;
  .box-desc {
    margin: 0 8px 0 128px;
  }
}

.narrow{
  width: 70%;
}
.get-away{
  padding: 20px;
}
.lead{
  font-size: 1.875em;
  font-weight: 300;
  margin-bottom: .5em;
}
.content-section{
  min-height: 500px;
}
