.main-footer {
  background: $color-4;
  color: #ffffff;
}
.news-area {
  padding: 48px 0;
}
.address-area {
  background: darken($color-4, 10%);
}
.address-item {
  padding: 36px 12px 24px;
  .text-contact,
  .link-contact {
    font-size: 0.8em;
    color:#ffffff;
  }
}
