body {
  font-family: $font-default;
  font-size: 1.125em;
  line-height: 1.6;
}

.main-logo {
  display: block;
  margin: 0 auto;
  padding-top: 48px;
}

.default-banner {
  height: 700px;
  position: relative;
}
.help-translate {
  background-color: $color-2;
  bottom: 0;
  color: $whiteClouds;
  left: 0;
  margin: 0 0 128px 0;
  padding: 12px 12px 12px 64px;
  position: absolute;
}

.welcome .default-banner {
  background: asset-url("banner.png") no-repeat center fixed;
  background-size: cover;
}

.default-access {
  background-color: $whiteClouds;
}

.def-link {
  color: $color-3;
  display: block;
  height: 255px;
  margin: 0 auto;
  padding: 24px;
  text-align: center;
  .def-link-desc {
    color: $color-3;
    font-size: 16px;
  }
  &:hover {
    background: darken($whiteClouds, 5%);
    color: lighten($color-2, 15%);
    text-decoration: none;
  }
  &:before {
    display: block;
    font-size: 64px;
    margin: 0 auto;
  }
}

%section-padding {
  padding: 128px 0;
}

.what-gift-card {
  @extend %section-padding;
  background: $white asset-url("giftcard.png") no-repeat right center fixed;
}

.start-now {
  @extend %section-padding;
  background-color: $color-2;
  .main-title {
    color: $whiteClouds;
    strong {
      color: $color-1;
    }
  }
  .sub-title {
    color: darken($whiteClouds, 15%);
  }
  .def-badge {
    margin: 0 auto;
    width: 100%;
  }
}

@mixin background-badge($image){
  background-image: asset-url($image);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.def-badge {
  display: block;
  height: 195px;
  padding: 0 0 32px 0;
  text-align: center;
  width: 169px;
  &:hover {
    background: rgba(0, 0, 0, .1);
    text-decoration: none;
  }
  &.create-list {
    @include background-badge("badges/grooms.png");
  }
  &.gift {
    @include background-badge("badges/gift.png");
  }
}
