//==========================================================
// FOR OTHER VARIABLES
// SEE _variables.scss
// ON /sass-bootstrap/lib/_variables.scss
//==========================================================

//==========================================================
// COLORS
//==========================================================
// Amarelo
$color-1: #f1c40f;

// Vermelho
$color-2: #c0392b;

// Blue Midninght
$color-3: #2c3e50;

//
$bluePeter: #3498db;

// Cinza
$color-4: #666666;
$whiteClouds: #ecf0f1;

//==========================================================
// TEXT
//==========================================================
$font-default: 'Open Sans', Arial, sans-serif;

//==========================================================
// THIRD-PARTY LIBS
//==========================================================
$nprogress-color: $color-4;
