//==========================================================
// FOR OTHER VARIABLES
// SEE _variables.scss
// ON /sass-bootstrap/lib/_variables.scss
//==========================================================

//==========================================================
// COLORS
//==========================================================
$redCorset: #666666;
$color-1: #f1c40f;
$color-2: #CC181E;
$color-3: #2c3e50;
$whiteClouds: #ecf0f1;

//==========================================================
// TEXT
//==========================================================
$font-default: 'Raleway', Arial, sans-serif;
