<header class="main-header">
    <div class="row-fluid">
      <div class="span12">
      <%= link_to "Home", :search_video, class: "menu-item" %>
      <%= link_to "Procurar Vídeo", :search_video, class: "menu-item" %>
      </div>
    </div>
</header>
<%= image_tag "small-banner.png" %>