<header class="main-header">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <%= link_to(image_tag("logo.png", :alt => "Shibata Casa&Presente - Lista de Casamento"), root_path, class: "main-logo") %>
      </div>
      <div class="span6">
      </div>
    </div>
  </div>
</header>
