.btn-shibata {
  background: $color-4;
  color: $white;
  display: block;
  padding: 10px;
}

.btn-shibata:hover {
  background: darken($color-4, 10%);
  color: darken($white, 5%);
  text-decoration: none;
}
